<h1>Listing patients</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
  </tr>
 
  <% @patients.each do |patients| %>
    <tr>
      <td><%= patients.name %></td>
      <td><%= patients.number %></td>
    </tr>
  <% end %>
</table>